<!-- This html contains navigation bar -->

<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Nav bar</title>

<style>

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: DodgerBlue;
   position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: DarkBlue;
}



</style>
</head>
<body>

<ul>

<li> <a href="./about">Welcome</a></li>
<li><a href="./StudentRegistration">Student Registration</a></li>
<li><a href="./contactus">Contact Us</a></li>
<li><a href="./logout">Sign Out</a></li>
<li style="float:right"><a href="./admin">Admin</a></li>

</ul>



</body>
</html>